app.*.config
/*/bin/
/*/*/bin/
/*/*/obj/
/*/obj/
/*/packages/*
*.user
*.pdb
*.suo
.vs
*.cache
*.testsettings
*.typemock
*.db
*.feature.cs
/TestResults/
packages/*
/Uploads/**/Temporary/*
/Downloads/
.vscode/
*.bak
failed.txt
